*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
    /* height: 100vh; */
}

/* .background{
width: 430px;
height: 520px;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
} */

#frm {
    margin-bottom: 50px;
}

.form {
    height: auto;
    width: 500px;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgba(32, 32, 32, 0.759);
    /* position: absolute;
    transform: translate(-50%, -50%);
    top: 52%;
    left: 50%; */
    margin-inline: auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

textarea {
    background-color: rgba(255, 255, 255, 0.07);
    text-overflow: clip;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    border-radius: 2px;
}

form .space {
    height: 70px;
    background-color: red;
    width: 100%;

}

::placeholder {
    color: #e5e5e5;
}



.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

.form button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.extraspace {
    height: 50px;
    width: 100px;
}

/* footer */

footer {
    /*position: ;*/
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 40px;
    color: #fff;
}

.fcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.fcontent h3 {
    font-style: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.fcontent p {
    min-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-style: 14px;
}

.socialm {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 40px 3rem 0;
}

.socialm a {
    text-decoration: none;
    color: #fff;
    font-style: 1.1rem;
    font-style: 1.1rem;
    padding: 20px;
    transition: 0.5s;
    z-index: 10;
    font-size: 1.5em;


}

.socialm ul li:hover {
    z-index: 10000;
    transform: scale(0.7s);
}



.socialm a:hover {
    color: var(--clr);
    font-size: 2em;
    filter: drop-shadow(0 0 20px var(--clr))drop-shadow(0 0 40px var(--clr))drop-shadow(0 0 60px var(--clr));
}

.fbottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.fbottom p {
    font-style: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    font-size: 0.4cm;
}

.footer-heart {
    text-align: center;
    font-family: open sans, sans-serif;

}

.footer-heart a {
    color: hsl(0, 0%, 100%);
    padding-bottom: 0.25em;
    text-decoration: none;



}

.footer-heart a:hover {
    text-decoration: none;
    color: hsl(49, 97%, 37%);
    transition: 0.8s;
    filter: drop-shadow(0 0 20px var(--back));
    font-size: 1.2em;
    transform: scale(0.7s);

}

.emoji {
    vertical-align: middle;
}

@media screen and (max-width:768px) {
    .form {
        width: min(500px, 100vw);
    }

}