@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

.con {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

body {
	background-color: #181818;
	font-family: Montserrat, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}




.pq {
	font-size: .875rem;
	line-height: 21px;
	/* border-left: 2px solid rgb(1, 47, 56);  */
	/* border-right: 2px solid rgb(0, 48, 58);  */
	border-radius: 2px;
	padding: 10px;

}

.card-container {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	margin: 20px;
	margin-bottom: 10px;
	background-color: rgb(54 69 79/86%);
	border-radius: 5px;
	box-shadow: 10px 10px 20px 4px rgba(0, 0, 0, 0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	/* max-width: 100%; */
	margin-top: 55px;
	text-align: center;
	bottom: 40px;

}





/* .card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
} */









.card-container img {
	margin-top: -5px;
	border-radius: 5px;
	/* box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.75); */
	height: 200px;
	width: 270px;
}


#social a {
	box-sizing: border-box;
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 5px;
	float: left;
	font-size: 0.625rem;
	line-height: 50px;
	border-radius: 50%;
	color: white;
	/* background: black; */
	background: transparent;
	transition: all 250ms ease-in-out;
}

/* #social a:hover {
	margin-top: -5px;
	border-bottom: 4px solid black;
} */

.fa {
	vertical-align: middle;
	line-height: 50px;
}

#linkedin {
	background-color: #1D87BE;
}

#linkedin:hover {
	background-color: #136F9E;
}

#google-plus {
	background-color: #670000;
}

#google-plus:hover {
	background-color: #990000;
}

#codepen {
	background-color: #860052;
}

#codepen:hover {
	background-color: #860052;
}

#stack-overflow {
	background-color: #CF6300;
}

#stack-overflow:hover {
	background-color: #AD5300;
}

#github {
	background-color: #0F4F8A;
}

#github:hover {
	background-color: #0B3A66;
}


/* Irrelevant Page Layout */

/* html {
	font-size: 62.5%
} */






#holder {
	display: inline-block;
	vertical-align: middle;
	margin-top: -30px;
	font-size: 0.625rem;
}

h1 {
	margin: 13px 0;
	/* font-size: 2.625rem; */
	line-height: 42px;
	/* line-height: 4.2rem; */
	/* text-shadow: 0px 2px 0 #FFF,
		-1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF,
		-2px 3px #616161,
		2px 3px #616161; */
}

#divide {
	margin: 25px 50px;
	/* border-top: 1px solid black; */
}

#social {
	display: inline-block;
}

.pk {
	font-size: 3.125rem;
	color: rgb(6, 0, 0);
	text-shadow: 2px 2px 6px rgb(37, 0, 97);
}


.h1h {
	font-weight: 10;
	padding: 0px;
	margin: 0px;
}



.pro span {
	padding-bottom: 3px;
	border-bottom: 8px solid rgb(151, 162, 244);
	border-width: 2px;
	color: rgba(255, 255, 255, 0.826);
	border-start-end-radius: 20px;
}


@media screen and (max-width:768px) {
	/* <!-- scroll event --> */

	#holder{
		margin-top: -10px;
	}

	.reveall {
		position: relative;
		transform: translateY(150px);
		opacity: 0;
		transition: all 0.6s ease;
	}

	.reveall.active {
		transform: translateY(0px);
		opacity: 1;
	}

	.con {
		margin-top: 40px;
	}


	.pro span {
		padding-bottom: 3px;
		border-bottom: 8px solid rgb(151, 162, 244);
		border-width: 2px;
		font-size: 59%;
		color: rgba(255, 255, 255, 0.826);
		border-start-end-radius: 20px;
	}



	.card-container {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		margin: 20px;
		margin-bottom: 10px;
		background-color: #231E39;
		border-radius: 5px;
		box-shadow: 10px 10px 20px 4px rgba(0, 0, 0, 0.75);
		color: #B3B8CD;
		padding-top: 30px;
		position: relative;
		width: 280px;
		/* max-width: 100%; */
		margin-top: 55px;
		/* height: 300px; */
		text-align: center;
		bottom: 40px;

	}


	.card-container img {
		margin-top: -5px;
		border-radius: 5px;
		/* box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.75); */
		height: 150px;
		width: 235px;
	}

	h1 {
		font-size: 110%;
		margin: 0;
	}

	#social {
		margin-top: -20px;
		font-size: 50%;
	}

	#social a {

		width: 37px;
		height: 37px;
		/* font-size: 50%; */

	}

	.pq {
		font-size: 70%;
		margin-top: -20px;
	}

	.fa {
		font-size: 170%;
		line-height: 40px;
	}




	/* <!-- scroll event --> */
}

.yen {
	/* color: rgba(255, 166, 0, 0.708); */
	margin: 10px;
	margin-bottom: -10px;
}

.partners{
	opacity: 0.7;
	color: #b08b51;
	margin-bottom: 10px;
}

.fa{
	font-size: 200%;
}

/* footerr */
#sf{
	background-color: #202020;
}




